*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #10182b;
    width: 100%;
    color: white;
    overflow-x: hidden;
    padding-bottom: 50px;

}
main{
    display: flex;
}
nav{
    height: 100vh;
    width: 100px;
    display: flex;
    justify-content: center;
    background: #10182b;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 2px solid #1f2b44;
}
.navbar i{
    font-size: 15px;
    background-color: #DDDDDD31;
    color: white;
    border-radius: 50%;
    padding: 20px;
}
.navbar i:hover{
    background-color: #17b978;
}

 .navbar ul li{
    list-style: none;
}
.navbar ul li a{
    line-height: 5px;
} 

ul {
    height: 100%;
}
.logo img{
    height: 75px;
    border-radius: 50%;
    border:2px solid #1f2b44;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
 .navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 2rem;
} 
.icon-inner, .ionicon, svg {
    display: block;
    height: 90%;
    width: 100%;
}
.contents{
    margin-left: 100px;
    /* width: 93%; */
    max-width: 93%;
    overflow: hidden;
    /* padding: 10px 20px; */
    /* background-color: #17b978; */
    /* overflow: auto; */
}
section .one{
    text-align: center;
}
.first-page{
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.first-page .my-name{
    text-align: center;
    height: 28vh;
    line-height: 121px;
}
.first-page .my-name p{
    font-size: 50px;
    font-weight: 600;
    color: #17b978;
}
.first-page .my-name h1 span{
    color: transparent;
    -webkit-text-stroke: 1px #17b978;
    line-height: 50px;
    background-image: url(/img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    /* margin-left: -10px; */
}
.first-page .my-name h1{
    font-size: 70px;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
#typo{
color: white;
}
.para{
    width: 80%;
    padding-top: 30px;
}
.first-page p{

    width: 100%;
    text-align: center;
    font-size: 18px;
    /* line-height: 20px; */
    line-height: 25px;
}
.cv-button{
    margin-top: 20px;
}
.cv-button button{
    padding: 10px 25px;
    border: 2px solid #17b978;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #fff;
    border-radius: 5px;
}
/* Hover */
.cv-button button:hover{
    background-color: #17b978 ;
}
/* Section 2 */
section .two{
    background-image: url(/img/download.png)!important;
}
.heading{
    height: 35vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    bottom: 115px;
    /* background-color: blue; */
}
.resume{
    color: #65656529;
    font-size: 155px;
}
.about-me{
    font-size: 60px;
    position: relative;
    top: 100px;
    font-size: 75px;
}
.about-me span{
    color: #17b978;
}

    
/* Image */
.my-info{
    line-height: 30px;
}
.about-content{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    padding: 30px;
    position: relative;
    bottom: 70px;
}
.mypic img {
    height: 50vh;
    padding-right: 30px;
}
.personal-info h2{
    font-size: 30px;
}.personal-info p{
    font-size: 17px;
    color: #E2EfF0;
}
.personal-info span{
    font-size: 15px;
    color: #94A3B8;
}
/* My Skills */

.my-skills-container{
    text-align: center;
    margin-top: 120px;
    font-size: 60px;
    position: relative;
    /* top: 100px; */
    font-size: 75px;
}
.my-skills{
    font-size: 70px;
}
.my-skills span{
    color: #17b978;
}
.experience{
    color: #65656529;
    font-size: 120px;
    position: relative;
    bottom: 90px;
}
.personal-info p{
    width: 80%;
    font-size: 20px;
}
/* Skills-list */
.skill-list{
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
    
}
.skill-list .languages{
    height: 17vh;
    border-radius: 50%;
    width: 10%;
    display: flex;
    /* flex-direction: column; */
    background-color: white;
}
.text{
    color: black;
    font-size: 20px;
    position: relative;
    top: 50px;
}



/* timeLine With Responsive*/


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* .four {
    width: 100%;
}
.intro {
    background: #f45b69;
    padding: 100px 0;
  } */
  .heading-cover {
    height: 60vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    /* bottom: 115px; */
    /* background-color: blue; */
}
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul {
    /* background: #456990; */
    padding: 50px 0;
  }
  .timeline  span{
      font-size: 30px;
      font-weight: 600;
  
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background-color: #17b978;
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    /* border-color: transparent #f45b69 transparent transparent; */
    border-color: transparent #17b978 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #17b978  ;

  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background-color: #17b978;

  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #17b978 transparent transparent;


    }
  }
  
  
  /* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
